* {
    box-sizing: border-box;
}

body {
    /*font-family: "VT323";*/
    padding-top: 2rem;
    /*background-color: #ccc;*/
}

.l-split__item {
    float: left;
    width: 45.8%;
}

.l-split__item--small {
    width: 8%;
}

.l-centered {
    margin: 0 auto;
}

.health-container {
    max-width: 1920px;
    margin: 0 auto;
}

#r-split {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(249,245,59,1) 48%, rgba(24,255,0,1) 100%);
}

#l-split {
    background: rgb(24,255,0);
    background: linear-gradient(90deg, rgba(24,255,0,1) 0%, rgba(249,245,59,1) 48%, rgba(255,0,0,1) 100%);
}

.healthbar {
    /*background-color: #f42126;*/

    border-radius: 5px;
    box-shadow: 0 0 0 1px #cccccc, 0 0 0 2px #e6e6e6, 0 0 0 3px white;
    height: 2.5vw;
    max-height: 5.125rem;
}

.healthbar__meter {
    background-color: #3f3f3e;
    border-radius: 5px;
    height: 2.5vw;
    max-height: 5.125rem;
}

.healthbar__meter--player-one {
    float: left;
}

.healthbar__meter--player-two {
    float: right;
}

.timer,
.ko {
    color: #fff950;
    display: inline-block;
    padding-inline: 10px;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 0.5;
    text-align: center;
    text-shadow: 0.4vw 0.3vw 0 #f42126;
    width: 100%;
}
@media (min-width: 1920px) {
    .ko {
        font-size: 80px;
    }
}

html {
    background: url("./assets/flooring/boss_field.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*body {*/
/*    margin: 0;*/
/*}*/


.boss-container {
    /*margin: 5px;*/
    /*text-align: center;*/
    /*display: flex;*/
    /*justify-content: center;*/
    height: 100%;
    width: 100%;
    /*display: block;*/
    /*align-items: center;*/
    /*justify-content: center*/
}

/*.heath-bars {*/
/*    height: 6%;*/
/*    width: 99%;*/
/*    border: 2px solid black;*/
/*    position: absolute;*/
/*    !*display: block;*!*/
/*    !*position: absolute;*!*/
/*}*/

.attack{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    /*width: 80%;*/
    margin-bottom: 2%;
    overflow-x: auto;
    width: 100%;
}


.attack:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.attack:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.attack:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.fight-updates {
    bottom: 0;
    position: absolute;
}

.attack-buttons {
    display: block;
    position: absolute;
    top: 70%;
    overflow: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation-name: animatetop;
    animation-duration: 0.4s;

}

.battle-zone {
    /*top: 0;*/
    display: block;
    position: absolute;
    top: 50%;
/*    overflow: auto;*/
    left: 50%;
    margin-right: -50%;
/*    transform: translate(-50%, -50%);*/
/*    animation-name: animatetop;*/
/*    animation-duration: 0.4s;*/

}


.battle-updates {
    margin-inline: auto;
    margin-bottom: 5%;
    /*width: 84%;*/
    /*height:200px;*/
    display: block;
    border-radius: 6px;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
    text-align: center;
    position: relative;


    width: 500px;
    height: 200px;
    border: 2px solid black;
    background-color: #ffffff;
}

.battle-updates p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}
